:root {
  --primary-color: #003161;
  /* --primary-color: #34656D; */
  --secondary-color:  #fffbeb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
/* 
  background-color: var(--primary-color); */
  color: rgb(236, 236, 245);
background-color: transparent;
  
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  
  background-color: var(--primary-color);

}
.main{
   position: relative;
  background-image: url("pic/about_banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 60vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}
.main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  z-index: -1;

}
.main h2 {
  font-size: 4em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
  color: yellow;
}
.main-info {
  background-color: var(--primary-color);
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
position: relative;
  z-index: 5;
  bottom: 40px;

}
.about-sec{
  margin: 30px 10px;
  display: flex;
  flex-direction: row;
  /* padding: 30px 20px; */
  border-radius: 50px;
    padding: 30px 70px;
    box-shadow: 0px 5px 5px black;
    /* background-color: var(--secondary-color); */
}
.main .about-sec .about-info {
  padding: 30px;

}


.about-info h2 {
  font-size: 4em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
}

.about-info p {
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  padding: 20px 5px;

}

.main .about-sec .about-img {
  padding: 20px;
}

.about-img img {
  border-radius: 50px;
  height: 400px;
  border: 4px solid black;
  width: 400px;
}
.mission-and-vision{
  display: flex;
  gap: 20;
  margin: 30px 10px;
  padding: 15px;
      box-shadow: 0px 5px 5px black;
    border-radius: 50px;
    height: 50vh;
    
}
  .mission , .vision{
display: flex;
flex-direction: column;
align-items: center;
  }
  .mission h2 , .vision h2{
    font-size: 4em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
  }
  .mission p , .vision p{
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  padding: 20px 5px;
text-align: center;
  }
.line{
  height: 45vh;
  padding: 15px 0px;
  width: 2px;
  background-color: aliceblue;
}
.why-choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 20;
  margin: 30px 10px;
  padding: 15px;
      box-shadow: 0px 5px 5px black;
    border-radius: 50px;
    height: 50vh;
}
.why-choose-us h2{
  font-size: 4em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 0px;
  text-align: center;
}
.why-choose-us p {
font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  padding: 20px 5px;
text-align: center;
}
@media (max-width: 768px) {
.about-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

}
@media (max-width: 425px) {
.about-sec {
  padding: 10px;
}
.about-sec h2{
  font-size: 3em;
}
.about-sec p{
  font-size: 18px;
}
.about-img img {
height: 200px;
}
.mission-and-vision {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.line {
 display: none;
}
.mission h2, .vision h2 {
    font-size: 2em;
}
.mission p, .vision p {
    font-size: 18px;
}
.why-choose-us {
    height: auto; 
}
.why-choose-us h2{
    font-size: 3em; 
}
.why-choose-us p{
    font-size: 18px; 
}
}
@media (max-width: 375px) {
.about-img img {
        height: 200px;
        width: 200px;
}
.mission-and-vision {
    display: flex;
    flex-direction: column;
    height: auto;
}
.line {
 display: none;
}
.mission h2, .vision h2 {
    font-size: 2em;
}
.mission p, .vision p {
    font-size: 18px;
}
.why-choose-us {
    height: auto; 
}
.why-choose-us h2{
    font-size: 2.5em; 
}
.why-choose-us p{
    font-size: 18px; 
}
}