:root {
    --primary-color: #003161;
    /* --primary-color: #34656D; */
    --secondary-color: #fffbeb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--primary-color);

  
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 90%;
    padding-top: 120px;
 

}
.feedback-main {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1), 0 2px 4px -2px rgba(255, 255, 255, 0.1);
    padding: 2.5rem;
    overflow: hidden;
    margin: 25px;
}

.feedback-main h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary-color);
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 2.5rem;
}
.feedback-main p {
    text-align: center;
    font-size: 1.5rem;

}
.feedback-sec {
    display: flex;
    gap: 2em;
}



.feedback-form {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
}


.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    color: #374151;
}
.form-group input, select,
#message{
    width: 100%;
    padding: 10px;
    border: 1px solid #5c5c5c;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(92, 92, 92, 0.05);
    font-size: 0.875rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus,
#message:focus {
    outline: none;
    border-color:var(--primary-color);
    box-shadow: 3px 3px 3px rgba(6, 0, 116, 0.3);
}
.form-group #message {
    min-height: 120px;
}

.submit-btn {
    width: 100%;
    padding: 0.875rem 1rem;
    background-color: var(--primary-color);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 1.96s ease-out;
}
.submit-btn:hover {
    background-color: #002a8d;
}
.ad {
    width: 85%;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ad img {
    width: 100%;
    height: 450px;
    
}
.main-add{
    display: flex;
    justify-content: center;
    /* margin-top: 100px; */
}
@media (max-width: 640px) {
 .feedback-main {
    padding: 1rem;
        margin: 14px;
}
 .feedback-main h1 {
    font-size: 2.6rem;

}
.ad img {
    width: 100%;
    height: auto;
    
}

}