:root {
    --primary-color: #003161;
    /* --primary-color: #34656D; */
    --secondary-color: #fffbeb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    color: rgb(236, 236, 245);
     
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  
  background-color: var(--primary-color);

}
.container{
      display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
}
.main {
        width: 85%;
    padding: 25px;
    margin: 120px 0px 50px 0px;
    /* margin: 0 auto; */
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 80px;
       display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
color: black;
}
.main h1{
       font-size: 3rem;
    margin: 12px 0px;
    color: #003161;
}
.site-list{
    display: flex;
    text-align: center;
    padding: 10px;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-content: center;
    /* grid-template-columns: 1fr 2fr 1fr; */
    gap: 25px;
}
.sec{
    padding: 10px 50px;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.site-list h2{
   font-size: 2.3rem;
    margin: 12px 0px;
    color: black;
    text-align: center;
}
.site-list ul {
    margin: 2px;
    padding: 2px;
}
.site-list ul li{
    font-size: 18px;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width: 440px) {
.main {
    width: 95%;
border-radius: 50px;
}

}